
# Node.js dependencies
/node_modules

# Build output


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment settings
.env
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp

# MacOS file
.AppleDouble

# Optional cache directories
.cache/
